.get-name {
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    width: 100%;

    & + label {
      margin-top: 2rem;
    }
  }

  input {
    width: 100%;
    margin-top: 0.5rem;

    &[type="radio"],
    &[type="submit"] {
      width: auto;
    }

    &[type="submit"] {
      margin-top: 2rem;
    }
  }

  ul {
    width: 100%;
  }
}
